In [3]:
import pandas as pd
from sqlalchemy import create_engine

In [6]:
try:
    path_to_db = 'telecomm_csi.db' # путь к файлу
except:
    path_to_db = '/datasets/telecomm_csi.db' # путь к файлу

engine = create_engine(f'sqlite:///{path_to_db}', echo = False)

query = """
SELECT user_id,
       lt_day,
       CASE
       WHEN lt_day <= 365 THEN 'TRUE'
       ELSE 'FALSE'
       END AS is_new,
       age,
       CAST(u.gender_segment AS varchar) AS gender_segment,
       os_name,
       cpe_type_name,
       l.country,
       l.city,
       a.title AS age_segment,
       t.title AS traffic_segment,
       lt.title AS lifetime_segment,
       nps_score,
       CASE
       WHEN nps_score > 8  THEN 'сторонники'
       WHEN nps_score < 7  THEN 'критики'
       ELSE 'нейтралы'
       END AS nps_group
FROM user AS u
LEFT JOIN location AS l ON l.location_id = u.location_id
LEFT JOIN age_segment AS a ON a.age_gr_id = u.age_gr_id
LEFT JOIN traffic_segment AS t ON t.tr_gr_id = u.tr_gr_id
LEFT JOIN lifetime_segment AS lt ON lt.lt_gr_id = u.lt_gr_id
"""

df = pd.read_sql(query, engine)
df.to_csv('telecomm.csv', index=False)
df.head(5)

,user_id,lt_day,is_new,age,gender_segment,os_name,cpe_type_name,country,city,age_segment,traffic_segment,lifetime_segment,nps_score,nps_group
0,A001A2,2320,FALSE,45.0,1.0,ANDROID,SMARTPHONE,Россия,Уфа,05 45-54,04 1-5,08 36+,10,сторонники
1,A001WF,2344,FALSE,53.0,0.0,ANDROID,SMARTPHONE,Россия,Киров,05 45-54,04 1-5,08 36+,10,сторонники
2,A003Q7,467,FALSE,57.0,0.0,ANDROID,SMARTPHONE,Россия,Москва,06 55-64,08 20-25,06 13-24,10,сторонники
3,A004TB,4190,FALSE,44.0,1.0,IOS,SMARTPHONE,Россия,РостовнаДону,04 35-44,03 0.1-1,08 36+,10,сторонники
4,A004XT,1163,FALSE,24.0,0.0,ANDROID,SMARTPHONE,Россия,Рязань,02 16-24,05 5-10,08 36+,10,сторонники

Ссылка на архив  https://disk.yandex.ru/d/EXGPtaIOHz6nWg
Ссылка на Дашборд https://public.tableau.com/app/profile/andrey.shitov/viz/TelecomNPSanalysis/sheet6?publish=yes